* {
	box-sizing:border-box;
	text-rendering: optimizeLegibility;
	margin: 0;
	padding: 0;
	border: 0;
    font-family: "Open Sans", verdana, arial, sans-serif;
}

body {
    background: #222;
    margin: 0px;
    color: #ccc;
}

#graph{
    overflow:hidden;
}

#btn {
	position: absolute;
	top: 15px;
	left: 90px;
	height:20px;
	width: 100px;"
}
#btn .checkbox {
	position: absolute;
	z-index: -1;
	opacity: 0;
    left: 20px;
}
#btn .checkbox + label {
	position: relative;
	padding: 0 0 0 60px;
	cursor: pointer;
}
#btn .checkbox + label:before {
	content: '';
	position: absolute;
	top: -4px;
	left: 0;
	width: 25px;
	height: 16px;
	border-radius: 9px;
	background: #222;
	transition: .2s;
	border: 1px solid #555;
}
#btn .checkbox + label:after {
	content: '';
	position: absolute;
	top: -2px;
	left: 2px;
	width: 14px;
	height: 14px;
	border-radius: 10px;
	background: #FFF;
	#box-shadow: 0 2px 5px rgba(0,0,0,.3);
	transition: .2s;
}
#btn .checkbox:checked + label:before {
	background: #3dba00;
}
#btn .checkbox:checked + label:after {
	left: 11px;
}







#time {
    z-index: 101;
    position: absolute;
    top: 8px;
    left: 140;
    font-size: 18px;
    font-weight: 300;
    font-weight: 400;
}

#t_frames {
    z-index: 100;
    position: absolute;
    top: 11px;
    left: 350;
    font-size: 11px;
    font-weight: 400;
}

#t_frames input[type=radio] {
    visibility: hidden;
    display: none;
}

.radio-group label {
    color: #888;
    background: #222;
    cursor: pointer;
    #padding: 2px 0 3px 0;
    line-height: 16px;
    border: 1px solid #555;
    transition: .5s;
    margin-left: -1px;
    width: 40px;
    text-align: center;
}

.radio-group label:nth-child(2) {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.radio-group label:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}

.radio-group input[type=radio]:checked + label{
    color:#fff;
    transition: .5s;
    background: #3dba00;
    #background: linear-gradient(0deg, rgba(55,164,1,1) 0%, rgba(99,193,0,1) 50%, rgba(55,164,1,1) 100%);
}

.radio-group label + input[type=radio] + label {

}

.radio-group {
    display: flex;
}
